PORT=4000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/animevision
JWT_SECRET=pon_aqui_una_clave_larga
AI_SERVICE_URL=http://localhost:8000
ANILIST_URL=https://graphql.anilist.co
FRONTEND_URL=http://localhost:5173
